/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Page background */
body {
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #020617);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Auth container */
.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login/Register box */
.auth-box {
  background: #ffffff;
  width: 360px;
  padding: 40px 35px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* Title */
.auth-box h2 {
  font-size: 24px;
  color: #020617;
  margin-bottom: 6px;
}

.auth-box h2 span {
  color: #0f172a;
}

/* Subtitle */
.subtitle {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 28px;
}

/* Input fields */
.auth-box input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  font-size: 14px;
}

/* Button */
.auth-box button {
  width: 100%;
  padding: 12px;
  background: #0f172a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-box button:hover {
  background: #020617;
}

/* Footer text */
.auth-box p {
  font-size: 14px;
  margin-top: 20px;
  color: #475569;
}

.auth-box a {
  color: #0f172a;
  text-decoration: none;
  font-weight: 600;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;   /* 🔥 THIS MAKES IT A CIRCLE */
    object-fit: cover;    /* prevents stretching */
    border: 2px solid #4da3ff; /* optional nice glow */
    object-fit: contain;
    display: block;
    margin: 0 auto 10px;
}.logo {
    box-shadow: 0 0 10px rgba(77, 163, 255, 0.6);
}
/* AUTH MOBILE */
@media (max-width: 768px) {

    .auth-box {
        width: 90%;
        padding: 30px 20px;
    }

    .auth-box h2 {
        font-size: 20px;
    }

    .subtitle {
        font-size: 13px;
    }

    .auth-box input {
        font-size: 14px;
    }

    .auth-box button {
        font-size: 14px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }
}